@font-face {
  font-family: "Twemoji Country Flags";
  unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067,
    U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
  src: url("./fonts/TwemojiCountryFlags.woff2") format("woff2"), /* Super-modern browsers */
       url("./fonts/TwemojiCountryFlags.woff") format("woff"), /* Modern browsers */
       url("./fonts/TwemojiCountryFlags.eot"), /* IE9 compatibility modes */
       url("./fonts/TwemojiCountryFlags.ttf") format("truetype"), /* Safari, Android, iOS */
       url("./fonts/TwemojiCountryFlags.svg") format("svg"); /* Legacy iOS */
}

body {
  font-family: var(--user-defined-font), sans-serif;
}

.win {
  font-family: "Twemoji Country Flags", var(--user-defined-font), sans-serif;
}
