@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-color-hex: #20BCFA;
  --app-color: 32, 188, 250;
  --app-color-50: 233, 248, 255;
  --app-color-100: 200, 235, 252;
  --app-color-200: 182, 228, 254;
  --app-color-300: 147, 214, 252;
  --app-color-400: 72, 194, 251;
  --app-color-500: 32, 188, 250;
  --app-color-600: 25, 167, 227;
  --app-color-700: 17, 146, 205;
  --app-color-800: 11, 77, 115;
  --app-color-900: 7, 45, 65;
  --app-color-950: 3, 15, 26;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #14141460;
}

::-webkit-scrollbar-thumb {
  background-color: #6a6a6a;
  border: 1px solid #141414;
  border-radius: 12px;
}

::-webkit-scrollbar-corner {
  width: 0;
}
